<div class="mt-2 d-flex justify-content-between align-items-center">
  <h3 class="text-white">Patients Page</h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item active">
        <a routerLink="/patients">Patients</a>
      </li>
      <li class="breadcrumb-item">Add</li>
    </ol>
  </nav>
</div>

<div class="mt-1">
  <div class="form-group">
    <div class="row">
      <div class="col-xl-9 col-lg-8 col-md-6 col-sm-12 col-12">
        <button data-bs-toggle="modal" data-bs-target="#createModal"  class="btn btn-dark">
          <i class="fa-solid fa-plus me-2"></i>
          <span>Add Patient</span>
        </button>
      </div>

      <div
        class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 position-relative"
      >
        <input
          type="search"
          class="form-control"
          placeholder="Search patient..."
          [(ngModel)]="search"
        />
        <i class="fa-solid fa-magnifying-glass search"></i>
      </div>
    </div>
  </div>

  <div class="form-group mt-2">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Full Name</th>
          <th>City / Town</th>
          <th>Full Address</th>
          <th>Operations</th>
        </tr>
      </thead>
      <tbody>
        @for (patient of patients | patient : search; track patient) {
        <tr>
          <td>{{$index + 1}}</td>
          <td>{{patient.fullName}}</td>
          <td>{{patient.city}} / {{patient.town}}</td>
          <td>{{patient.fullAddress}}</td>
          <td>
            <button (click)="get(patient)" data-bs-toggle="modal" data-bs-target="#updateModal" class="btn btn-sm btn-outline-primary me-1" title="Update">
              <i class="fa-solid fa-edit"></i>
            </button>
            <button (click)="delete(patient.id.toString(), patient.fullName)" class="btn btn-sm btn-outline-danger" title="Delete">
              <i class="fa-solid fa-trash"></i>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>



<!-- Create Modal -->
<div class="modal fade" id="createModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createModalLabel">Create Patient Form</h5>
        <button type="button" #createModalCloseButton class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <form #createForm="ngForm" formValidate autocomplete="off" (ngSubmit)="create(createForm)">
          <div class="form-group">
            <label>First Name</label>
            <input type="text" [(ngModel)]="createModel.firstName" name="firstName" class="form-control" required minlength="3">
            <div class="invalid-feedback"></div>
          </div>
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" [(ngModel)]="createModel.lastName" name="lastName" class="form-control" required minlength="3">
            <div class="invalid-feedback"></div>
          </div>
          <div class="form-group">
            <label>Identity Number</label>
            <input type="text" [(ngModel)]="createModel.identityNumber" name="identityNumber" class="form-control" required minlength="11" maxlength="11">
            <div class="invalid-feedback"></div>
          </div>
          <div class="form-group">
            <label>City</label>
            <input type="text" [(ngModel)]="createModel.city" name="city" class="form-control" required minlength="3">
            <div class="invalid-feedback"></div>
          </div>
          <div class="form-group">
            <label>Town</label>
            <input type="text" [(ngModel)]="createModel.town" name="town" class="form-control" required minlength="3">
            <div class="invalid-feedback"></div>
          </div>
          <div class="form-group">
            <label>Full Address</label>
            <textarea type="text" [(ngModel)]="createModel.fullAddress" name="fullAddress" class="form-control" required minlength="3" ></textarea>
            <div class="invalid-feedback"></div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-dark w-100">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Update Modal -->
<div class="modal fade" id="updateModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateModalLabel">Update Patient Form</h5>
        <button type="button" #updateModalCloseButton class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <form #updateForm="ngForm" formValidate autocomplete="off" (ngSubmit)="update(updateForm)">
          <div class="form-group">
            <label>First Name</label>
            <input type="text" [(ngModel)]="updateModel.firstName" name="firstName" class="form-control" required minlength="3">
            <div class="invalid-feedback"></div>
          </div>
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" [(ngModel)]="updateModel.lastName" name="lastName" class="form-control" required minlength="3">
            <div class="invalid-feedback"></div>
          </div>
          <div class="form-group">
            <label>Identity Number</label>
            <input type="text" [(ngModel)]="updateModel.identityNumber" name="identityNumber" class="form-control" required minlength="11" maxlength="11">
            <div class="invalid-feedback"></div>
          </div>
          <div class="form-group">
            <label>City</label>
            <input type="text" [(ngModel)]="updateModel.city" name="city" class="form-control" required minlength="3">
            <div class="invalid-feedback"></div>
          </div>
          <div class="form-group">
            <label>Town</label>
            <input type="text" [(ngModel)]="updateModel.town" name="town" class="form-control" required minlength="3">
            <div class="invalid-feedback"></div>
          </div>
          <div class="form-group">
            <label>Full Address</label>
            <textarea type="text" [(ngModel)]="updateModel.fullAddress" name="fullAddress" class="form-control" required minlength="3" ></textarea>
            <div class="invalid-feedback"></div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-dark w-100">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
